## Module 3 Solution

By Maulana Hafidz Ismail on 22/11/2025

#### Packages Instalation

In [ ]:
!pip install --upgrade pip
!pip install mysql-connector-python

#### Importing packages and loading .env file

In [ ]:
import mysql.connector as connector
from dotenv import load_dotenv
import os

load_dotenv()

#### Exercise: Add query functions / TASK 1

In [22]:
connection = connector.connect(
    user=os.getenv("DB_USER"),
    password=os.getenv("DB_PASSWORD"),
    db="littlelemondb"
)

In [23]:
cursor = connection.cursor()

#### Exercise: Add query functions / TASK 2

In [10]:
cursor.execute("SHOW TABLES;")
for table in cursor:
    print(table)

('bookings',)
('customers',)
('menu_types',)
('menus',)
('order_menus',)
('orders',)
('ordersview',)
('staff_roles',)
('staffs',)
('status',)

#### Exercise: Add query functions / TASK 3

In [24]:
task3_query = """
    SELECT customers.CustomerName, customers.ContactNumber, subq.Cost 
    FROM customers
    JOIN bookings 
        ON customers.CustomersID = bookings.CustomerID
    JOIN orders 
        ON bookings.BookingID = orders.BookingID
    JOIN (SELECT OrderID, MenuID, SUM(TotalCost) AS Cost FROM order_menus GROUP BY OrderID, MenuID) AS subq 
        ON orders.OrderID = subq.OrderID
    WHERE subq.Cost > 60;
"""
cursor.execute(task3_query)
result = cursor.fetchall()
for rec in result:
    print(rec)